<div id="content">
    <div>
      <label for"test"><h4>Test Angular Bindings</h4></label>
      <input id="test" type="text" ng-model="data.message">
      <h1>{{data.message}}</h1>
    </div>
</div>